<nav>
  <div class="site-title">
    <a href="/">
      <h1>Image Processing API</h1>
    </a>
    <p>By Mutasim Mohamed</p>
  </div>
  <ul>
    <li><a href="/">Images</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/resize">New Image</a></li>
  </ul>
</nav>