<html lang="en">
<%- include("./inc/head.ejs") %>

  <body>
    <%- include("./inc/nav.ejs") %>

      <div class="not-found content">
        OOPS, page not found :)
      </div>

      <%- include("./inc/footer.ejs") %>
  </body>

</html>